<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/products">Voltar</a>
    <h3>{{product._id}}</h3>
    <h3>{{product.name}}</h3>
    <h3>{{product.price}}</h3>
    <h3>{{product.description}}</h3>
</body>
</html>